body {
  background: #c0ccd8;
  background: radial-gradient(circle, #c0ccd8 0%, #fbfcfe 50%, #b8c8d5 100%);
  font-family: "Nunito", sans-serif;
}
header {
  border-bottom: 5px solid #2d4767;
}
header p {
  font-size: 1.5rem;
}
header img {
  width: 100%;
  object-fit: cover;
}
header .personal-details {
  padding: 5px;
  margin-top: 5px;
  text-align: center;
}
header .personal-details h1 {
  font-size: 2.5rem;
  color: #2d4767;
  font-weight: bold;
  text-transform: uppercase;
}
header .personal-details p {
  display: none;
}
header .personal-details .contact,
header .personal-details .contact li {
  font-size: 1rem;
  display: inline-block;
  padding: 0 6px;
}
main {
  margin-top: 30px;
}
main article {
  background-color: #c0ccd8;
  padding: 20px;
}
main h2 {
  font-size: 1.5rem;
  text-align: center;
}
main p {
  margin-top: 30px;
  text-align: justify;
}
main .tech-stacks {
  margin-top: 30px;
}
main .tech-stacks .icons {
  text-align: center;
  margin-top: 2vh;
  width: 100%;
}
main .tech-stacks .icons img {
  width: 18%;
  max-width: 100px;
}
main .projects {
  margin-top: 30px;
  padding: 0 20px;
}
main .projects h2 {
  text-align: center;
}
main .projects h3 {
  margin-top: 30px;
}
main .projects p,
main .projects ul li {
  text-align: justify;
}
main .projects li {
  list-style: inside;
}
footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  background-color: #e6e9ee;
}
footer li {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
}
footer li a img {
  width: 2rem;
}
footer li a span {
  vertical-align: top;
  line-height: 50px;
}
@media only screen and (min-width: 1024px) {
  header {
    margin: 0 auto;
    padding: 0;
    border: none;
  }
  header img,
  header .personal-details {
    display: inline-block;
  }
  header img {
    object-fit: cover;
    position: relative;
    width: 29%;
    height: 310px;
    padding-right: 20px;
  }
  header .personal-details {
    width: 70%;
    height: 300px;
    vertical-align: top;
  }
  header .personal-details h1,
  header .personal-details p {
    text-align: center;
  }
  header .personal-details h1 {
    font-size: 5rem;
  }
  header .personal-details p {
    font-size: 2rem;
    display: block;
  }
  header .personal-details .contact,
  header .personal-details .contact li {
    display: inline-block;
    margin: 0 auto;
  }
  header .personal-details .contact {
    margin-top: 75px;
    padding-top: 40px;
    width: 100%;
    border-top: 5px solid #2d4767;
  }
  header .personal-details .contact li {
    font-size: 1rem;
  }
  main h2 {
    font-size: 2.5rem;
  }
  main section {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}
@media only screen and (min-width: 481px) {
  header .personal-details h1 {
    font-size: 5rem;
  }
  main h2 {
    font-size: 2.5rem;
  }
  main section {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}
