body {
	background-color: black;
	color: white;
}

h1,
h2,
p {
	text-align: center;
}

.label {
	font-size: 1.3rem;
}

.form {
	border: 1px solid white;
	width: max-content;
	margin: 0 auto;
	padding: 35px;
	border-radius: 15px;
}
.form * {
	display: block;
	margin: 10px 0;
}

.submit {
	padding: 10px;
	background-color: rgb(59, 59, 255);
    color:white;
	border-radius: 10px;
	border: none;
    width: 100%;
	margin: 2vh auto;
    font-weight: 700;
}

.form p {
	font-size: 5rem;
	color: orange;
	font-weight: 700;
}
