<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Cars</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>CARS</h1>
		<form action="/result" method="post">
			<h2>YOU DID <span id="count"><%= visit %></span>x VISITING THIS PAGE</h2>
			<p>YOU HAVE <%= count%> CARS</p>
			<p>The cars in the database are as follows</p>
			<% for (let i = 0; i < cars.length; i++) { %>
			<p><%= cars[i].name %> - <%= cars[i].year %></p>
			<% } %>
		</form>
	</body>
</html>
