body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #1f1f1f;
	color: #ffffff;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	padding: 25px; 
}

.options {
	width: 50px;
	height: 50px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 15px;
}

.option-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.brick {
	background-color: #b45f06;
}

.grass {
	background-color: #009e0f;
}

.gravel {
	background-color: #999999;
}

#clear {
	width: 50px;
	height: 50px;
	background-color: #ff0000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 15px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

#canvas,
aside {
	padding: 25px;
	height: 75vh;
	background-color: gainsboro;
}

#canvas {
	width: 75%;
	color: black;
	position: relative;
	overflow: hidden;
}

aside {
	width: 15%;
	color: black;
}

.block {
	position: absolute;
	width: 100px;
	height: 100px;
}

.cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
}

.name {
	text-align: end;
	font-size: large;
	font-weight: bolder;
	color: black;
}
