<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>World Chat Game</title>
		<link rel="stylesheet" href="/style.css" />
		<script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
		<script type="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type="text/javascript"></script>
		<script src="/scripts.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Build your empire</h1>
			<div class="option-list">
				<div id="brick" class="options brick">Brick</div>
				<div id="grass" class="options grass">Grass</div>
				<div id="gravel" class="options gravel">Gravel</div>
				<div id="clear">Clear</div>
			</div>
		</header>
		<div id="container">
			<div id="canvas"></div>
			<aside id="active-list">
				<div id="title">
					<h2>List of Active Players</h2>
				</div>
				<div id="content"></div>
			</aside>
		</div>
		<div id="cursor-list"></div>
	</body>
</html>
