body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
section {
    ul {
        display: inline-block;
        width: 100%;
        text-align: center;
        li {
            display: inline-block;
            width: 19%;
            vertical-align: top;
            height: 100vh;
            background-color: rgba(45, 45, 45, 0.4);
            h1 {
                margin: 0 0 5vh;
                height: 15vh;
                background-color: white;
                line-height: 15vh;
            }
            p {
                border-radius: 15px;
                padding: 5vh 0 5vh 0;
                margin-bottom: 5vh;
                background-color: whitesmoke;
            }
        }
    }
}
.todo {
    background-color: #1abc9c;
    color: white;
}
.progress {
    background-color: #f39c12;
    color: white;
}
.approval {
    background-color: #c0392b;
    color: white;
}
.testing {
    background-color: #8e44ad;
    color: white;
}
.done {
    background-color: #34495e;
    color: white;
}
