body {
    background: #eeaeca;
    background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}
section ul {
    display: inline-block;
    width: 100%;
    text-align: center;
}
section ul li {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    height: 100vh;
    background-color: rgba(45, 45, 45, 0.4);
    text-align: center;
}
section ul li h1 {
    margin: 0 0;
    height: 15vh;
    background-color: white;
    line-height: 15vh;
}
.draggable {
    border-radius: 15px;
    padding: 5vh 0 5vh 0;
    margin: 5vh auto;
    background-color: whitesmoke;
    width: 250px;
    z-index: 100; 
}

.todo {
    background-color: #1abc9c;
    color: white;
}
.progress {
    background-color: #f39c12;
    color: white;
}
.approval {
    background-color: #c0392b;
    color: white;
}
.testing {
    background-color: #8e44ad;
    color: white;
}
.done {
    background-color: #34495e;
    color: white;
}
