@primary: #2d4767;
h2 {
    text-align: center;
    font-size: 2rem;
}

body {
    background: rgb(192, 204, 216);
    background: radial-gradient(
        circle,
        rgba(192, 204, 216, 1) 0%,
        rgba(251, 252, 254, 1) 50%,
        rgba(184, 200, 213, 1) 100%
    );
}

header,
main,
footer {
    padding: 0 10%;
}

header {
    padding-top: 10px;
}

.resume-picture {
    width: 350px;
    height: 250px;
    width: 29%;
    object-fit: cover;
    display: inline-block;
}

.personal-details {
    display: inline-block;
    vertical-align: top;
    height: 250px;
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    .info {
        h1 {
            font-size: 5.5rem;
            color: @primary
        }
        p {
            font-size: 1.5rem;
        }
        padding: 0 0 25px 0;
    }
    .contact {
        border-top: 5px solid @primary;
        padding: 25px 0;
        ul li {
            display: inline-block;
        }
    }
}

article {
    padding: 15px 0;
    h2 {
        margin-bottom: 15px;
    }
}

.wrapper-2 {
    .tech-stacks,
    .projects {
        width: 49%;
        display: inline-block;
    }

    .tech-stacks {
        .icons {
            padding: 8px;
            text-align: center;
            img {
                width: 15%;
            }
        }
    }

    .projects {
        display: inline-block;
        vertical-align: top;
        .project-1,
        .project-2 {
            text-align: justify;
            padding: 20px 0px;
        }
    }
}

footer {
    text-align: center;
    width: 100%;
    ul li {
        display: inline-block;
        margin: 2%;
        img,
        p {
            display: inline-block;
            vertical-align: middle;
        }
        img {
            width: 50px;
        }
        line-height: 1.5;
    }
}

@media only screen and (max-width: 1200px) {
    header,
    main,
    footer {
        padding: 0 2%;
    }
    header {
        padding-top: 10px;
    }
    article {
        padding: 20px 40px;
    }
}

@media only screen and (max-width: 870px) {
    .info {
        h1 {
            font-size: 4em !important;
        }
        p {
            font-size: 1rem !important;
        }
    }
    article {
        padding: 20px 25px;
    }
}

@media only screen and (max-width: 480px) {
    .resume-picture {
        text-align: center;
        display: block;
        width: 98%;
    }
    .personal-details {
        width: 100%;
        .info {
            width: 100%;
            text-align: center;
            h1 {
                font-size: 3.5em !important;
            }
            p {
                font-size: 1rem !important;
            }
        }
        .contact ul {
            text-align: center;
            li {
                display: block;
            }
        }
    }
    .wrapper-2 {
        .tech-stacks,
        .projects {
            width: 100%;
            padding: 20px 25px;
        }
        .tech-stacks {
            display: block;
        }
    }
}
